<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        #GameArea {
            background-image: url('../../Resources/gamebackground.png')
        }
        /*#divGameArea { background-image: url('https://www.google.se/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjZpLCIkIHgAhUIjiwKHe4ECPwQjRx6BAgBEAU&url=https%3A%2F%2Fwww.mestmotor.se%2Fautomotorsport%2Fartiklar%2Fnyheter%2F20180305%2Fvolvo-kor-om-alla-konkurrenter-xc40-ar-arets-bil%2F&psig=AOvVaw1BZ-yYXewA0Zw971IPNUkf&ust=1548237441722367') }*/
    </style>
</head>
<body>
    @*<div class="w-100 p-3">
        <div class="banan">
            <a asp-controller="Account" asp-action="Login">Welcome @UserManager.GetUserAsync(User).Result.FirstName</a>
            <a asp-controller="CarPark" asp-action="GetCarPark">My CarPark</a>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    </div>*@

    <header class="container">
        <h3 class="text-center">@ViewBag.Title</h3>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container"><footer class="text-center">Living Car Park Copyright 2019</footer></div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
