@model IEnumerable<LivingCarPark.ViewModels.ViewUserReport>

@{
    ViewData["Title"] = "ShowReport";
}

<h2>ShowReport</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowButton)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>

                @if (item.ShowButton == true)
                {

                    <form asp-action="KickAdmin">

                        <div class="form-group">
                            @Html.Hidden("UserId",item.UserId);
                            <input type="submit" value="Kick WebAdmin" class="btn btn-danger" />
                        </div>
                    </form>
                }
                else
                {
                    <form asp-action="MakeAdmin">

                        <div class="form-group">
                            @Html.Hidden("UserId", item.UserId);
                            <input type="submit" value="Make WebAdmin" class="btn btn-success" />
                        </div>
                    </form>
                }
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
